.home-container {
    margin: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 16px; /* spacing between cards */
    padding: 16px;
  }